.header.m-b-30
  .wrapper
    .justify-between
      .small-placeholder.m-b-20(style="width: 200px")
        .logo
          .logo__title
            |Полиграфия европейского уровня за умеренную цену
      .small-placeholder.m-b-20(style="width: 200px")
        .tel
          |<i class="fas fa-phone"></i>(499) 943-20-94 
    .menu
      .small-placeholder
        -
          var menu =[
            'Главная',
            'каталог',
            'Услуги',
            'Производство',
            'Новости',
            'Поддержка',
            'Технологии',
            'Контакты',
            'MENU--search'
          ];
        ul
          each item in menu
            -;
            li
              a(href="#")=item
